/*Definir o tamanho da nossa página*/
html , body{
    width: 100vw;
    margin: 0;
    overflow: hidden;

}
/*Conteúdo do nosso site*/
.layout{
    width: 100vw;
    background: linear-gradient(to top, #020202 10%,#010101,#040505,#040A0C,#041115);
    display: grid;
}
/*Barra de navegação*/
.navbar{
    width: 100%;
    height: 65px;
    background-color: #030303 ;
    align-items: center;
    border-bottom: 1px solid #292929;
}
/*Icone da barra de navegação*/
.navbar .icbarra{
    width: 18px;
    height: 28px;
    object-fit: cover;
    transform: translate(26px, 15px);
}
/*Icone do YouTubeMusic*/
.navbar .iclogo{
    transform: translate(45px, 16px);
    height: 24px;
}
/*Barra de pesquisa*/
.navbar .buscar{
    width: 35%;
    height: 43px;
    background-color: #292929;
    display: flex;
    transform: translate(342px, -22px);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
/*Icone de buscar*/
.navbar .icbuscar{
    width: 22px;
    height: 22px;
    object-fit: scale-down;
    float: left;
    margin-left: 20px;
    color: #8c8c8c;
}
/*Input de pesquisa*/
.navbar .brpesquisa{
    width: 90%;
    height: 35px;
    border: none;
    background-color: transparent;
    color: white;
    font: bold;
}
/*Alterar a o conteúdo da barra de pesquisa*/
::-webkit-input-placeholder {
    color: #8c8c8c;
    transform: translate(10px, 2px);
    font-size: 17px;
 }
/*Icone de conexao*/
.navbar .ictela{
    width: 28px;
    height: 28px;
    object-fit: cover;
    float: right;
    transform: translate(-265px, -55px);

}
/*Icone de ajuda(três pontinhos)*/
.navbar .icajuda{
    width: 22px;
    height: 22px;
    object-fit: cover;
    float: right;
    transform: translate(-200px, -52px);
}
/*Botão de login*/
.navbar .iclogin{
    text-decoration: none;
    width: 90px;
    padding: 8px;
    float: right;
    transform: translate(-58px, -57px);
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    color: black;
    text-align: center;
}
/*Parte principal de todo conteúdo do site*/
.meio{
    width: 92vw;
 display: flex;
}
/*Menu lateral*/
.meio .menu{
    width: 238px;
    height: 100vh;
    background-color: #030303;
    border-right: 2px solid #292929;
    margin-right: 90px;
    display: block;
}
/*Botões do meu menu*/
.meio .menu button{
    display: flex;
    width: 227px;
    height: 47px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 8px;
    align-items: center;
    text-align: center;
    border: none;
}
/*Botão de ínico*/
.meio .menu .btn01{
    background-color: #1D1D1D;
}
/*Mensagem do botão de ínico*/
.meio .menu .btn01 span{
    margin-top: 9px;
    font-weight: bolder;
    margin-left: 22px;
    font-size: 16px;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    font: italic;
}
/*Imagem do botão de ínico*/
.meio .menu .btn01 img{
    width: 22px;
    height: 24px;
    object-fit: fill;
    margin-left: 15px;
}
/*Botão de explorar*/
.meio .menu .btn02{
    cursor: pointer;
}
/*Mensagem do botão de explorar*/
.meio .menu .btn02 span{
    width: 30px;
    height: 30px;
    margin-left: 22px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font: italic;
    color: white;
}
/*Imagem do botão de explorar*/
.meio .menu .btn02 img{
    width: 20px;
    height: 20px;
    object-fit: fill;
    margin-left: 17px;
    margin-bottom: 15px;

}
/*Animação do botão de explorar*/
.meio .menu .btn02:hover{
    background-color: #353535;
}
/*Botão de explorar*/
.meio .menu .btn03{
    cursor: pointer;
}
/*Mensagem do botão de explorar*/
.meio .menu .btn03 span{
    width: 30px;
    height: 30px;
    margin-left: 22px;
    text-align: center;
    justify-content: center;
    margin-bottom: 17px;
    font-size: medium;
    font: italic;
    color: white;
}
/*Imgagem do botão de explorar*/
.meio .menu .btn03 img{
    width: 20px;
    height: 22px;
    object-fit: fill;
    margin-left: 17px;
    margin-bottom: 30px;
}
/*Animação do botão de explorar*/
.meio .menu .btn03:hover{
    background-color: #353535;
}
/*Elemento de base para o pseudo elemento*/
.meio .menu .pe{
    width: 300px;
    height: 46px;
    display: flex;
}
/*Pseudo elemento(linha abaixo dos botoẽs*/
.meio .menu .pe::after{
    content: "";
    width: 195px;
    height: 1px;
    background-color: #292929;
    margin-top: 10px;
    transform: translate(20px);
}
/*Botão de fazer login*/
.meio .menu .btn04{
    background-color: #1D1D1D;
    height: 34px;
    width: 190px;
    border-radius: 20px;
    margin: 0 auto;
    transform: translate(0px, -11px);
    position: relative;
    cursor: pointer;
}
/*Mensagem do botão de fazer login*/
.meio .menu .btn04 span{
    display: flex;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 14px;
    justify-content: center;
    font: italic;
    color: white;   
}
/*Animação do botão de fazer login*/
.meio .menu .btn04:hover{
    background-color: #353535;
}
/*Mensagem abaixo do botão de fazer login*/
.meio .menu .msg{
    width: 199px;
    margin-left: 23px;
    margin-top: -3px; 
}
/*Alterando a mensagem*/
.meio .menu .msg span{
    color: #8C898C;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
/*Definir padrão da minha sction*/
.meio .conteudo{
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    overflow-y: scroll;
}
/*Alterar o tamanho do meu scroll*/
.meio .conteudo::-webkit-scrollbar{
    width: 15px;
}

/*Alterar a cor da thumb do meu scroll*/  
.meio .conteudo::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/*Alterar a cor da track do meu scroll*/
.meio .conteudo::-webkit-scrollbar-track {
    background: transparent;

}
/*Definir um padrão das opções*/
.meio .conteudo .opcoes01{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    width: 99%;
    padding: 5px;
    overflow-x: scroll;
    background-color: transparent;
}
/*Definir um padrão dos botões das opções*/
.meio .conteudo .opcoes01 button{
    margin-left: 40px;
    height: 30px;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #292929;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
/*Estilizar o h1*/
.meio .conteudo h1{
    color: black;
    font-size: 35px;
    margin-top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}